h1 {
    outline: none;
    font-size: 1.5rem;
}

.login-form {
    max-width: 350px;
}

.valid-message {
    font-size: 0.7rem;
    color: red;
}

.err-message {
    color: red;
}

.input-group-text.fixed-label {
    width: 150px;
    min-width: 150px;
    justify-content: flex-start;
    padding-left: 0.5rem;
    white-space: nowrap;
}
