@page "/"
@page "/home"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Home</h1>
<div>
    Render: @RendererInfo.Name<br />
    Render count: @renderCounter
</div>
<div>
    <button class="btn btn-primary" @onclick="ButtonClick">jQuery (@jQueryCounter)</button>
    <AuthorizeView>
        <NotAuthorized>
            <button class="btn btn-primary" @onclick="LoginClick">Login</button>
        </NotAuthorized>
    </AuthorizeView>
</div>


