@page "/user"
@rendermode InteractiveServer

<PageTitle>Detail osoby</PageTitle>

<h1 class="text-center">Detail osoby</h1>

<div class="d-flex justify-content-center">
    <div style="max-width:500px; width:100%;">
        <EditForm Model="@model" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator />
            <div class="mb-1">
                <div class="input-group">
                    <span class="input-group-text fixed-label">Jméno</span>
                    <InputText @bind-Value="model.FirstName" class="form-control" />
                </div>
                <div class="text-center valid-message">
                    <ValidationMessage For="() => model.FirstName" />
                </div>
            </div>
            <div class="mb-1">
                <div class="input-group">
                    <span class="input-group-text fixed-label">Příjmení</span>
                    <InputText @bind-Value="model.LastName" class="form-control" />
                </div>
                <div class="text-center valid-message">
                    <ValidationMessage For="() => model.LastName" />
                </div>
            </div>
            <div class="mb-1">
                <div class="input-group">
                    <span class="input-group-text fixed-label">Město</span>
                    <InputText @bind-Value="model.City" class="form-control" />
                </div>
                <div class="text-center valid-message">
                    <ValidationMessage For="() => model.City" />
                </div>
            </div>
            <div class="mb-1">
                <div class="input-group">
                    <span class="input-group-text fixed-label">Popis</span>
                    <InputTextArea @bind-Value="model.Description" class="form-control" rows="3" />
                </div>
                <div class="text-center valid-message">
                    <ValidationMessage For="() => model.Description" />
                </div>
            </div>
            <div class="mb-1">
                <div class="input-group">
                    <span class="input-group-text fixed-label">Datum narození</span>
                    <InputDate @bind-Value="model.DateOfBirth" class="form-control" />
                </div>
                <div class="text-center valid-message">
                    <ValidationMessage For="() => model.DateOfBirth" />
                </div>
            </div>
            <div class="mb-1 text-center">
                <button class="btn btn-primary" type="submit">Uložit</button>
            </div>
        </EditForm>

        @if (!string.IsNullOrEmpty(message))
        {
            <div class="mt-2 text-center">@message</div>
        }
    </div>
</div>

