@page "/login"
@rendermode InteractiveServer

<PageTitle>Login</PageTitle>

<EditForm Model="@Model" class="login-form mx-auto mt-5" OnValidSubmit="ProcessLogin">
    <DataAnnotationsValidator />
    <div class="mb-1 text-center">
        <h3>Přihlášení</h3>
    </div>
    <div class="mb-1">
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1">Login</span>
            <InputText @bind-Value="Model.UserName" class="form-control" placeholder="Login" aria-label="Login" aria-describedby="basic-addon1"></InputText>
        </div>
        <div class="text-center valid-message">
            <ValidationMessage For="() => Model.UserName" />
        </div>
    </div>
    <div class="mb-1">
        <div class="input-group">
            <span class="input-group-text" id="basic-addon2">Heslo</span>
            <InputText @bind-Value="Model.Password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon2" type="password"></InputText>
        </div>
        <div class="text-center valid-message">
            <ValidationMessage For="() => Model.Password" />
        </div>
    </div>
    <div class="mb-1 text-center">
        <button type="submit" class="btn btn-primary w-50">Login</button>
    </div>
    <div class="mb-1 err-message text-center">
        @ErrorMessage
    </div>
</EditForm>

