@page "/loginprocess"
@using BlazorTraining.Services
@using BlazorTraining.Tools

@inject AuthService Auth
@inject NavigationManager Navigation

@if (String.IsNullOrEmpty(Message))
{
    <head>
        <meta http-equiv="refresh" content="0; url=@PageNames.Home" />
    </head>
}
else
{
    <div>
        Render: @RendererInfo.Name
    </div>
    <div>
        Error: @Message
    </div>
}

@code {

    protected string Message { get; set; } = String.Empty;

    [SupplyParameterFromQuery]
    protected string Token { get; set; } = String.Empty;

    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        var user = AuthService.UserLoginList.Find(x => x.Token.Equals(Token));
        if (user != null)
        {
            AuthService.UserLoginList.Remove(user);
            Message = await Auth.SignInAsync(user);
        }
        else
        {
            Message = "Invalid token";
        }
    }
}
